.port-izq
	{
	float: left;
	width: 515px;
	margin: 0 25px 0 0;
	}
	
.port-der
	{
	float: left;
	width: 220px;
	margin: 0;
	padding: 0;
	}
	
.port-destacamos
	{
	float: left;
	width: 515px;
	margin: 0 0 25px 0;
	padding: 0 0 25px 0;
	border-bottom: 1px solid #dcdcdc;
	border-bottom: 1px solid #f2f2f2;
	}

.port-col-1, .port-col-2
	{
	float: left;
	width: 245px;
	margin: 0;
	padding: 0;
	}
	
.port-col-1
	{
	margin-right: 25px !important;
	}
	
/* TITULARES */	
		
.port-titular-destacamos span, .port-titular-sevilladc span, .port-titular-agenda span, .port-titular-noticias span, .port-titular-icastv span
	{
	display: none;
	}
	
.port-titular-destacamos, .port-titular-sevilladc, .port-titular-agenda, .port-titular-noticias, .port-titular-icastv
	{
	float: left;
	margin: 0 0 15px 0;
	padding: 0;
	height: 28px;
	background-repeat: no-repeat;
	}
	
.port-titular-destacamos
	{
	width: 515px;
	background-image: url(../imagenes/port_titular_destacamos.gif);
	}
	
.port-titular-sevilladc
	{
	width: 220px;
	background-image: url(../imagenes/port_titular_sevilladc.gif);
	}	

.port-titular-agenda
	{
	width: 245px;
	background-image: url(../imagenes/port_titular_agenda.gif);
	}

.port-titular-noticias
	{
	width: 245px;
	background-image: url(../imagenes/port_titular_noticias.gif);
	}	
	
.port-titular-destacamos a, .port-titular-agenda a, .port-titular-noticias a
	{
	float: left;
	width: 245px;
	height: 28px;
	margin: 0;
	padding: 0;
	}
	
	
	
/* DESTACAMOS */

div#port-destacamos-imagen
	{
	float: left;
	width: 245px;
	margin: 0 25px 0 0;
	padding: 0;
	}
	
div#port-destacamos-imagen img
	{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	}
	
div#port-destacamos-texto
	{
	float: left;
	width: 245px;
	margin: 0;
	padding: 0;
	}
	
div#port-destacamos-texto h1
	{
	float: left;
	width: 245px;
	margin: 0;
	padding: 0 0 10px 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: bold;
	letter-spacing: -2px;
	color: #d52d49;
	line-height: 25px;
	}
	
div#port-destacamos-texto h1 a
	{
	float: left;
	margin: 0;
	padding: 0;
	color: #d52d49;
	text-decoration: none;
	font-size: 34px;
	line-height: 30px !important;
	}

div#port-destacamos-texto h1 a:hover
	{
	text-decoration: underline;
	}
	
div#port-destacamos-texto ul
	{
	float: left;
	width: 245px;
	margin: 0;
	padding: 0;
	list-style: none;
	color: #dba512;
	font-size: 17px;
	font-weight: bold;
	}
	
div#port-destacamos-texto ul a
	{
	color: #dba512;
	text-decoration: none;
	}
	
div#port-destacamos-texto ul a:hover
	{
	text-decoration: underline;
	}
	
/* AGENDA Y NOTICIAS */

.port-agenda
	{
	float: left;
	width: 245px;
	margin: 0;
	padding: 0;
	}
	
.port-breve, .port-noticia-breve
	{
	float: left;
	width: 245px;
	border-bottom: 1px solid #f2f2f2;
	}
	
.port-breve
	{
	margin: 0 0 15px 0;
	padding: 0 0 15px 0
	}	
	
.port-noticia-breve
	{
	margin: 0 0 10px 0;
	padding: 0 0 10px 0;
	}
	
.port-breve-img
	{
	float: left;
	width: 71px;
	margin: 0 12px 0 0;
	padding: 0;
	}
	
.port-breve-img img
	{
	float: left;
	margin: 0;
	padding: 0;
	border: 0;
	}
	
.port-breve-info
	{
	float: left;
	width: 162px;
	margin: 0;
	padding: 0;
	}

.port-breve-info h2, .port-noticia-breve h2
	{
	float: left;
	width: 100%;
	margin: 0 0 5px 0;
	padding: 0;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	color: #d52d49;
	letter-spacing: -1px;
	} 
	
.port-breve-info h2 a, .port-noticia-breve h2 a
	{
	color: #d52d49;
	text-decoration: none;
	}
	
.port-breve-info h2 a:hover, .port-noticia-breve h2 a:hover
	{
	text-decoration: underline;
	}
	
.port-breve-info ul
	{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	font-size: 10px;
	text-transform: uppercase;
	}	

.port-breve-info li
	{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	}

.port-noticia-breve-fecha
	{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0 0 5px 0;
	font-size: 10px;
	text-transform: uppercase;
	color: #dba512;
	}

/* */

.port-sevilladc
	{
	float: left;
	width: 100%;
	margin: 0 0 20px 0;
	padding: 0 0 15px 0;
	border-bottom: 1px solid #f2f2f2;
	}
	
.port-sevilladc img
	{
	border: 1px solid #d9d9d9; 
	margin-bottom: 5px;
	}
	
.port-sevilladc p
	{
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 12px !important;
	line-height: 15px;
	}
	
.port-sevilladc p a
{
color: #666666 !important;
color: #999999 !important;
}	

