/
  .filters{:style => 'float:left; width:400px; margin-left: 20px'}
    .subtitle
      Exportar


    %p{:style => 'margin-top:26px'}
      %b
        Exportar lista:
      %br/
      Como documento Excel
      = image_tag('excel.png')
      Como PDF
      = image_tag('pdf.png')
