%h1 Instrucciones para la recuperación de la contraseña

%p
  Se ha solicitado la recuperación de la contraseña. Si no has hecho esta petición simplemente ignore este email. Si hiciste la petición por favor haga click en el siguiente enlace.

= link_to "Reestablecer contraseña", @edit_password_reset_url
