<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <p style="margin: 1em 0;">Hola <%= @name %>,</p>

    <p style="margin: 1em 0;">Enhorabuena, te has registrado con éxito en la lista de subscripción de ICAS, el Instituto de la Cultura y las Artes de Sevilla.</p>
    <p style="margin: 1em 0;">A partir de ahora podrás recibir en tu correo electrónico nuestra información cultural de manera completamente gratuita.</p>
    <p style="margin: 1em 0;">Muchas gracias.</p>

    <!--p style="margin: 1em 0; color: gray; font-size:80">Siempre puedes darte de baja en la lista de subscripción pulsando <a href="<%= @code %>">aquí</a></p-->
    <p style="color: gray; font-size: 80%;">En cumplimiento con la Ley de Servicios de la Sociedad de la Información y de Comercio Electrónico (LSSI-CE) y la Ley Orgánica 15 13/12/1999 de Protección de Datos (LOPD), informamos de que los datos utilizados en este correo han sido obtenidos de las fuentes accesibles al público establecidas en el artículo 3.1 de la LOPD y/o a través de relación directa con el usuario. Estos datos son tratados de forma confidencial para fines publicitarios, promocionales e informativos sobre actividades culturales del Instituto de la Cultura y las Artes de Sevilla (ICAS). Si desea conocer, cancelar o rectificar sus datos, puede dirigirse vía correo electrónico a comunicaciones@icasmailing.org o por carta postal a la dirección siguiente: c/ El Silencio, 41001 Sevilla y procederemos a la atención inmediata de su solicitud.</p>
  </body>
</html>