#header
  #welcome
    %span Bienvenido #{current_user.name}
    %span> &nbsp;&nbsp;
    |

    = link_to("Volver al gestor de contactos ICAS", root_path) << " |"
    = link_to("Cerrar sesi贸n", logout_path)

  #slogan
    %span Sistema de gesti贸n de contactos y difusi贸n online
    %span Servicios centrales ICAS

  %h3
    - link_to admin_path do
      %span
        Maxwell Administraci贸n

