:gmail:
  :username: ""
  :password: ""

:host: "localhost:3000" 

:has_crm?: false
:has_mailing?: true

:mailing:
  :contact_type: 'icas'

:messages:
  :login:
    :access: "Sistema de gestión de contactos y difusión on-line ICAS"