<% if @contact.confirmed?  %>
  <h1><%= @contact.name %>, has aceptado tu inclusi贸n</h1>
  <p>Esto es el texto explicativo</p>
  <%= link_to 'Rechazar confirmaci贸n', "#{ConfirmationsController::REJECT_URL}/#{@contact.confirmation_code}" %>
<% else %>
  <h1><%= @contact.name %>, has rechazado tu inclusi贸n</h1>
  <p>Esto es el texto explicativo</p>
  <%= link_to 'Aceptar confirmaci贸n', "#{ConfirmationsController::ACCEPT_URL}/#{@contact.confirmation_code}" %>
<% end %>