- action ||= controller.action_name
- sidebar = "#{controller.controller_name}/sidebar_#{action}"

- if @search_path
  %td{ :class => :sidebar, :id => :sidebar, :valign => :top }
    = render :partial => 'layouts/search'

-#
  - begin
    %td{ :class => :sidebar, :id => :sidebar, :valign => :top }
      = render :partial => sidebar
    - rescue MissingTemplate

