<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
  <head>
    <style type="text/css">
      body { font-family: Verdana;}
      span.text {font-weight: 1.1em; }
      span.info {font-size: 0.7em;}
    </style>
  </head>   
  <body>
    <p>
      <span class="text">
        <%= @texto %>
      </span>      
    </p>
    <p>
      <span class="info">
        -- PDF enviado a través de GMail/PDF :P --
      </span>      
    </p>    
  </body>
</html>